<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardGoodDAO">
	
	<insert id="setBoardGood" parameterType="boardGood">
		insert into sns_board_good values(#{bseq}, #{nickname})
	</insert>
	
	<select id="getBoardGood" parameterType="boardGood" resultType="int">
		select count(*) from sns_board_good where bseq=#{bseq} and  nickname=#{nickname}
	</select>
	
	<delete id="deleteBoardGood" parameterType="boardGood">
		DELETE FROM sns_board_good WHERE bseq=#{bseq} and nickname=#{nickname}
	</delete>

</mapper>
